@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, serif;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

body {
    overflow-x: hidden;
}

header {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_github {
    box-sizing: border-box;
    position: absolute;
    right: 10px;
    top: 10px;
    background-image: url("assets/images/github.png");
    background-size: contain;
    width: 32px;
    height: 32px;
}

.header_github:focus-visible {
    outline: none;
}

.header_hello-world {
    font-size: 100px;
    white-space: nowrap;
    letter-spacing: 2px;
}

.header_probablyskela {
    position: absolute;
    left: 1vw;
    bottom: 1vh;
    letter-spacing: 1.5vw;
    font-size: 3vw;
    color: rgba(255, 255, 255, 0.075);
}